body {
    font-family: 'Poppins', sans-serif;
    background: #2D2929;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: transparent;
    padding: 30px 40px;
    border-radius: 12px;
    border: 2px solid #688AFA;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    color: black;
}

th {
    background-color: #688AFA;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

button.btn {
    background-color: #688AFA;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button.btn:hover {
    background-color: #688AFA;
}
